/* line 1, ../scss/main.sass */
body,
html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100vh;
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
}

/* line 10, ../scss/main.sass */
.question {
  max-width: 1000px;
  margin: auto;
  width: 100%;
  display: none;
  align-content: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}
/* line 20, ../scss/main.sass */
.question img {
  max-width: 400px;
  margin: auto;
  display: block;
}
/* line 24, ../scss/main.sass */
.question--static {
  display: flex;
}
/* line 26, ../scss/main.sass */
.question--start {
  text-align: center;
}
/* line 29, ../scss/main.sass */
.question--finish ul {
  text-align: left;
}
/* line 31, ../scss/main.sass */
.question--finish li {
  margin: 0.5em 0;
}
/* line 34, ../scss/main.sass */
.question__footer {
  margin-top: 1em;
  text-align: center;
}
/* line 37, ../scss/main.sass */
.question__title {
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}
/* line 41, ../scss/main.sass */
.question__answers {
  counter-reset: upper-latin;
  text-align: left;
}
/* line 44, ../scss/main.sass */
.question__answers li {
  list-style-type: upper-latin;
  margin: 0.75em 0;
}

/* line 48, ../scss/main.sass */
.panel {
  background: rgba(255, 255, 255, 0.75);
  padding: 1em 1.5em;
  text-align: center;
  font-size: 1.1em;
}

/* line 55, ../scss/main.sass */
.correct-answer {
  color: #2ecc71 !important;
}

/* line 58, ../scss/main.sass */
.wrong-answer {
  color: #e74c3c !important;
}

/* line 61, ../scss/main.sass */
.question__answers li:hover,
.selected-answer {
  color: #f1c40f;
  cursor: pointer;
}

/* line 66, ../scss/main.sass */
.selected-answer {
  color: #f1c40f !important;
}

/* line 69, ../scss/main.sass */
.lock .question__answers li:hover {
  color: black;
}

/* line 72, ../scss/main.sass */
.panel .btn {
  font-size: 1.5em;
  margin-top: 1em;
}

/* line 76, ../scss/main.sass */
.btn {
  color: #fff;
  font-size: 2em;
  background: #2980b9;
  padding: 0.5em 2em;
  border-radius: 1000px;
  display: inline-block;
  line-height: 1;
  text-decoration: none;
  transition: 0.3s background;
}
/* line 86, ../scss/main.sass */
.btn.disabled {
  background: #bdc3c7 !important;
}
/* line 88, ../scss/main.sass */
.btn:hover {
  background: #3498db;
}

/* line 91, ../scss/main.sass */
#wrapper {
  background: url(../img/bg.png) no-repeat fixed center center/cover;
  overflow: hidden;
  min-height: 100vh;
}
