body,
html
  margin: 0
  padding: 0
  min-height: 100%
  height: 100vh
  font-family: 'Varela Round', sans-serif
  font-size: 16px

.question
  max-width: 1000px
  margin: auto
  width: 100%
  display: none
  align-content: center
  justify-content: center
  min-height: 100vh
  flex-direction: column

  img
    max-width: 400px
    margin: auto
    display: block
  &--static
    display: flex
  &--start
    text-align: center
  &--finish
    ul
      text-align: left
    li
      margin: .5em 0
  &__content
  &__footer
    margin-top: 1em
    text-align: center
  &__title
    text-align: center
    margin-top: .5em
    margin-bottom: 1.5em
  &__answers
    counter-reset: upper-latin
    text-align: left
    li
      list-style-type: upper-latin
      margin: 0.75em 0

.panel
  background: rgba(255,255,255,.75)
  padding: 1em 1.5em
  text-align: center
  font-size: 1.1em


.correct-answer
  color: #2ecc71!important

.wrong-answer
  color: #e74c3c!important

.question__answers li:hover, 
.selected-answer
  color: #f1c40f
  cursor: pointer

.selected-answer
  color: #f1c40f!important

.lock .question__answers li:hover
  color: black

.panel .btn
  font-size: 1.5em
  margin-top: 1em

.btn
  color: #fff
  font-size: 2em
  background: #2980b9
  padding: .5em 2em 
  border-radius: 1000px
  display: inline-block
  line-height: 1
  text-decoration: none
  transition: .3s background
  &.disabled
    background: #bdc3c7!important
  &:hover
    background: #3498db

#wrapper
  background: url(../img/bg.png) no-repeat fixed center center / cover
  overflow: hidden
  min-height: 100vh


