<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="bower_components/normalize-css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <script src='bower_components/jquery/dist/jquery.min.js'></script>
  <script src='bower_components/mustache.js/mustache.min.js'></script>
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
</head>
<body>
  <audio id="correct-audio" src="audio/clap.wav"></audio>
  <audio id="wrong-audio" src="audio/nope.mp3"></audio>

  <div id="app" style="display: none;">

    <div class="question question--static question--start">
      <div class="question__content">
        <div class="panel">
          <h1 class="question__title">Let’s find an answer</h1> 
          <p>Select the correct option</p>

          <p>Let us apply our knowledge and help solve the problem <br/> find an answer in each situation</p>
          <img src="img/boy.png" alt="">
          <a href="#" class="js--play btn">play</a>
        </div>
      </div>
    </div>

    {{#questions}}
    <!-- question-->
    <div class="question" data-slide-index="{{idx}}">
      <div class="question__content">

        {{#description}}
        <div class="panel">
          {{description}}
        </div>
        {{/description}}
        {{#image_src}}
        <div class="question__image">
          <img src="img/slides/{{image_src}}" alt="">
        </div>
        {{/image_src}}

        <div class="panel">
          <h2 class="question__title">{{question}}</h2>
          <ol class="question__answers">
            {{#answers}}
            <li class="js--answer" data-answer-index="{{idx}}">{{text}}</li>
            {{/answers}}
          </ol>
          <a href="#" class="js--next-question btn disabled">next question</a>
        </div>

      </div>
    </div>
    <!-- question end -->
    {{/questions}}

    <div class="question question--static question--finish" data-slide-index="last" style="display: none;">
      <div class="question__content">
        <div class="panel">
          <h2 class="question__title">Well done!!</h2>
          <p>Here’s a quick recap of what you just learned.</p>
          <ul>
            <li><strong>Kraman</strong> – Kraman is a simple activity that doesn’t hurt anyone. Our day-to-day activities like Waking up, going to school, eating etc</li>
            <li><strong>Atikraman</strong> – Conduct that hurts others. Example- Hitting others, making fun of others etc</li>
            <li><strong>Pratikraman</strong> - Ask for forgiveness and turn back from mistakes.</li>
          </ul>
          <div class="content__footer">
            <a href="#" class="js--play btn">Play again</a>
          </div>  
        </div>
      </div>
    </div>

  </div>
  <div id="wrapper">
    
  </div>

  <script src='js/app.js'></script>

</body>
</html>